@page "/superheroes/edit/{id:int}"
@using BlazorPagination.Client.ViewModels;
@inject HttpClient _http
@inject NavigationManager _navigationManager
@rendermode InteractiveWebAssembly

<div class="d-flex justify-center mt-6">
    <MudChip T="string" Color="Color.Primary">
        <h3> Update A Super Hero</h3>
    </MudChip>
</div>
<div class="d-flex justify-center mt-6">
    <EditForm Model="@superHeroesFormModel" OnSubmit="UpdateSuperHeroAsync">
       <MudCard Class="d-flex justify-center" Width="800px">
        <MudCardContent>
            <MudTextField Label="Name" Class="mt-2"
                          @bind-Value="superHeroesFormModel.Name" For="@(() => superHeroesFormModel.Name)" />
            <MudTextField Label="ImageUrl" Class="mt-2" 
                          @bind-Value="superHeroesFormModel.ImageUrl" For="@(() => superHeroesFormModel.ImageUrl)" />  
            <MudSelect Class="mt-2" Margin="Margin.Dense" T="string" Label="Franchise" Variant="Variant.Text" @bind-Value="superHeroesFormModel.Franchise">
                    <MudSelectItem Value="@("dc")" >DC</MudSelectItem>
                    <MudSelectItem Value="@("marvel")" >Marvel</MudSelectItem>
                </MudSelect>
            <MudForm Class="mt-2">
                <MudRadioGroup @bind-Value="superHeroesFormModel.Franchise">
                    <MudRadio Value="@("dc")" Color="Color.Primary">DC</MudRadio>
                    <MudRadio Value="@("marvel")" Color="Color.Secondary">Marvel</MudRadio>
                </MudRadioGroup>
            </MudForm>
            <MudForm>
                <MudRadioGroup @bind-Value="superHeroesFormModel.Gender">
                    <MudRadio Value="@("male")" Color="Color.Primary">Male</MudRadio>
                    <MudRadio Value="@("female")" Color="Color.Secondary">Female</MudRadio>
                    <MudRadio Value="@("others")" Color="Color.Primary">Others</MudRadio>
                </MudRadioGroup>
            </MudForm>
             <MudButton Variant="Variant.Filled" ButtonType="ButtonType.Submit" Color="Color.Primary" Class="mt-2">Update</MudButton>
        </MudCardContent>
        <MudCardContent>
            <div class="d-flex justify-center">
                <MudImage ObjectFit="ObjectFit.Cover" Height="200" Width="250" Src="@superHeroesFormModel.ImageUrl" Alt="Orebro Slott" Elevation="25" Class="rounded-lg" />
            </div>
        </MudCardContent>
    </MudCard>
    </EditForm>
</div>


@code {
    SuperHeroesVm superHeroesFormModel = new SuperHeroesVm();

    private async Task UpdateSuperHeroAsync()
    {
        await _http.PutAsJsonAsync<SuperHeroesVm>("/api/SuperHeroes", superHeroesFormModel);
        _navigationManager.NavigateTo("/superheroes/home");
    }
}
